.bgctrans{
  background-color: transparent;
}
.bgc000{
  background-color: #000;
}
.bgc202d45{
  background-color: #202d45;
}
.bgc42556a{
  background-color: #42556a;
}
.bgc146aa4{
  background-color: #146aa4;
}
.bgc354054{
  background-color: #354054;
}
.bgc2c394d{
background-color: #2c394d;
}
.bgc26364f{
background-color: #26364f;
}
.bgc3A455D{
  background-color: #3A455D;
}
.bgcfff{
  background-color: #fff;
}
.bgcD66380{
  background-color: #D66380;
}
.bgc7AC4DD{
  background-color: #7AC4DD;
}
.bgc146aa4{
background-color: #146aa4;
}
.bgc2E425E{
  background-color: #2E425E
}
.bgcc51212{
  background-color: #c51212;
}
.bgcimg65c93e{
  background-image: linear-gradient(to top, #65c93e 0%, #79d679 100%);
}
.bgcimg70cdba{
  background-image: linear-gradient(180deg, #70cdba 0%, #3d9e84 100%);
}
.bgcimge03764{
  background-image: linear-gradient(180deg, #e03764 0%, #e34e7b 100%);
}
.bgcimg44b8d5{
  background-image: linear-gradient(180deg, #44b8d5 0%, #2690f7 100%);
}
.bgcimgpink{
  background-image: url(../img/gradientpink.png) ;
  background-size: 100%;
}
.bgcimgblue{
  background-image: url(../img/bluegradient.png) ;
  background-size: 100%;
}

.bg_161f29_08 {
  background-color: rgba(22, 31, 41, 0.8);
}
