.br-8px{
    border-radius: 8px;
}
.br-18px{
    border-radius: 18px;
}
.br-30px{
    border-radius: 30px;
}
.br-50{
    border-radius: 50%
}
.brl-8px{
    border-radius: 0 8px 8px 0;
}
.br-b-8px{
    border-radius: 0 0 8px 8px;
}
.br-t-8px{
    border-radius: 8px 8px 0 0; 
}
.bb303C53{
    border-bottom: 1px solid #303C53;
}
.bb979797{
    border-bottom: 1px solid #404A61;
}
.bbnone{
    border-bottom: none !important;
}
.br979797{
    border-right: 1px solid #404A61;
}
.bl979797{
    border-left: 1px solid #404A61;
}
.b2E425E{
    border: 1px solid #2E425E;;
}
.bnone{
    border: none;
}
.bbfff{
border-bottom: 1px solid #fff !important;
}