.colorfff{
  color:#fff;
}
.colorfff6f6{
  color: #fff6f6;
}
.color528fd0{ 
  color: #528fd0;
}
.color92cbff{
color: #92cbff;
}
.color2bbcd4{
  color: #2bbcd4;
}
.color6885a7{
  color: #6885a7;
}
.color0df751{
  color: #0df751;
}
.color3aa2ef{
  color: #3aa2ef;
}
.color6dc1ce{
  color: #6dc1ce;
}
.colorf0475f{
  color: #f0475f;
}
.color00fff9{
  color: #00fff9;
}
.color9DE86F{
  color: #9DE86F;
}
.color8bc3ff{
  color: #8bc3ff;
}