.flex {
  display: flex;
}

.fl-dr {
  flex-direction: row;
}
.fl-dw{
  flex-flow: row wrap
}
.fl-dc {
  flex-direction: column;
}

.fl-fs {
  justify-content: flex-start;
}

.fl-fe {
  justify-content: flex-end;
}

.fl-sb {
  justify-content: space-between;
}

.fl-sa {
  justify-content: space-around;
}

.fl-c {
  justify-content: center;
}

.fl-aic {
  align-items: center;
}
.fl-aie {
  align-items: flex-end;
}

.fl-aifs {
  align-items: flex-start;
}

.fl-se {
  justify-content: space-evenly;
}