.fs-8w400{
  font-size: 8px;
  font-weight: 400;
}
.fs-10w200{
  font-size: 10px;
  font-weight: 200;
}
.fs-10w600{
  font-size: 10px;
  font-weight: 600;
}
.fs-10w700{
  font-size: 10px;
  font-weight: 700;
}
.fs-12w200{
  font-size: 12px;
  font-weight: 200;
}
.fs-14w700{
  font-size: 14px;
  font-weight: 700;
}
.fs-14w200{
  font-size: 14px;
  font-weight: 200;
}

.fs-14w400{
  font-size: 14px;
  font-weight: 400;
}
.fs-16w200{
  font-size: 16px;
  font-weight: 200;
}
.fs-16w400{
  font-size: 16px;
  font-weight: 400;
}
.fs-16w600{
  font-size: 16px;
  font-weight: 600;
}
.fs-18w400{
  font-size: 18px;
  font-weight: 400;
}
.fs-20w400{
  font-size: 20px;
  font-weight: 400;
}
.fs-20w700{
  font-size: 20px;
  font-weight: 700;
}
.fs-24w400{
  font-size: 24px;
  font-weight: 400;
}

.fs-29w600{
  font-size: 29px;
  font-weight: 600;
}
.fs-33w200{
  font-size: 33px;
  font-weight: 200;
}
.fs-38w600{
  font-size: 38px;
  font-weight: 600;
}
.fs-75w300{
font-size: 75px;
font-weight: 300;
}
/* font-size: 7px;
font-weight: 600; */