.ml-3px{
  margin-left: 3px
}
.ml-16px{
  margin-left: 16px
}
.ml-2rem{
  margin-left: 2rem;
}
.ml-3rem{
  margin-left: 3rem;
}
.ml-8rem{
  margin-left: 8rem;
}
.ml-11rem{
  margin-left: 11rem;
}


.mt-3px{
  margin-top: 3px; 
}
.mt-8px{
  margin-top: 8px;
}
.mt-1-5rem{
  margin-top: 1.5rem;;
}
.mt-1rem{
  margin-top: 1rem;;
}
.mt-2rem{
  margin-top: 2rem;;
}
.mt-3rem{
  margin-top: 3rem;
}
.mt-4rem{
  margin-top: 4rem;
}
.mt-5rem{
  margin-top: 5rem;
}
.mt-12rem{
  margin-top: 1.2rem;;
}
.mt-2-7rem{
  margin-top: 2.7rem;
}
.mt-32rem{
  margin-top: 3.3rem;
}
.mt-5rem{
  margin-top: 5rem;
}


.mb-1rem{
  margin-bottom: 1rem;
}
.mb-3rem{
  margin-bottom: 3rem;
}
.mb-7rem{
  margin-bottom: 7rem;
}


.mr-3px{
  margin-right: 3px
}
.mr-16px{
  margin-right: 16px
}
.mr-1-8rem{
  margin-right: 1.8rem
}
.mr-2rem{
  margin-right: 2rem;
}
.mr-4rem{
  margin-right: 4rem;
}


.m-x-2rem{
  margin-right: 2rem;
  margin-left: 2rem;
}


.m-y-5rem{ 
  margin-top: 5rem;
  margin-bottom: 5rem;
}