.pr-5px{
  padding-right: 5px;
}
.pdl-1rem{
  padding-left: 1rem;
}
.pdr-1rem{
  padding-right: 1rem;
}
.pt-4px{
  padding-top: 4px !important;
}
.pt-8px{
  padding-top: 8px;
}
.pt-1rem{
  padding-top: 1rem;
}
.pt-1-5rem{
  padding-top: 1rem;
}
.pt-2rem{
  padding-top: 2rem;
}
.pb-2px{
  padding-bottom: 2px !important;
}
.pb-1rem{
  padding-bottom: 1rem;
}
.pb-3rem{
  padding-bottom: 3rem;
}

.pdx-1rem{
  padding-right: 1rem;
  padding-left: 1rem;
}

.pd0{
  padding: 0;
}