.sidebar{
    position: fixed;
    z-index: 1000;
    height: calc(100vh - 60px);
    width: 350px;  
    top:65px;
    right: -350px;
    box-sizing: border-box;
    transition: all 0.5s ease;  
    box-shadow: -6px 0 5px rgba(0, 0, 0, 0.06);
    border-radius: 3px 0 0 3px;
    background-color: #2c3955;
    overflow:auto;
    background: #fff;
  }
  .toggled{
    background: #2c3955;
  }
  .sidebar.toggled{
    right: 0;
  }
  .sidebardatepicker{
    width: 115px !important;
    height: 30px !important;
    border-radius: 4px !important;
    border: 1px solid #2ea2f8 !important;
    background-color: #2c3a54 !important;
    color: #fff !important;
    font-size: 1rem;
    padding-left: 10px;
  }

  .sidebarFixed{
    position: fixed;
    height: calc(100vh - 60px);
    width: 20%;  
    top:65px;
    box-sizing: border-box;
    transition: all 0.5s ease;  
    box-shadow: -6px 0 5px rgba(0, 0, 0, 0.06);
    border-radius: 3px 0 0 3px;
    background-color: #2c3955;
    overflow:auto;
    background: #2c3955;
      /* z-index: -1 !important; */
  }