.label > .segment-value:not(:first-child):not(:last-child){
    display: none;
}
.current-value{
    display: none;
}
/* .label > .segment-value:last-child{
    transform: translate(140px, -11px) rotate(87deg);
} */