.cursor{
    cursor: pointer;
}
.text-cap{
    text-transform: capitalize;
}
.text-up{
    text-transform: uppercase;
}
.text-low{
    text-transform: lowercase;
}
.text-al-s{
    text-align: start;
}